/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  width: 100px;
  height: 200px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li{
  width: 94px;
  height: 65px;
  text-align: center;
  color:red;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#chicago{
  background-image: url(/img/chicago.jpg);
  background-size: 100px;
}
#newYork{
  background-image: url(/img/new\ york.jpg);
  background-size: 100px;
}
#LA{
  background-image: url(/img/LA.jpg);
  background-size: 80px;
}
